.article{
  position: relative;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 1;
  overflow: hidden;
  &Videowrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .4;

    &Vid {
      width: 100%;
    }
  }
  &Title {
    margin-bottom: 3rem;
    text-align: center;
    font-size:3rem;

  }
  &Text{
    margin-bottom: 2rem;
    text-align: center;
    font-size:2rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}