.description{
  position: relative;
  width: 100vw;
  padding-top: 11em;
  height: 90vh;
  z-index: 1;
  &:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
    z-index: -1;
  }
}