.rate{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
  border:3px solid #ffffff;
  border-radius: 3rem;
  max-width: 350px;
  width: 100%;
  height: 45vh;
  font-size: 1.5rem;
  color: #ffffff;
  transition: .5s;
  background: rgba(4, 10, 10, 0.4);
  &:hover{
    transform: scale(1.04);
    background: rgba(4, 10, 10, 0.8);
    -webkit-box-shadow: 5px 5px 8px 0px rgba(224, 231, 236, 0.2);
    -moz-box-shadow: 5px 5px 8px 0px rgba(224, 231, 236, 0.2);
    box-shadow: 5px 5px 8px 0px rgba(224, 231, 236, 0.2);
    transition: .5s;
  }
  &wrap{
    text-align: center;
    &Title{
      margin-bottom: .6rem;
    }
    &Price{
      margin-bottom: 2rem;
    }
  }

  &List{
    margin-bottom: 3rem;
    &Item{
      margin-bottom: .7rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  //&btn{
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}
}