.footer{
  padding: 80px 0;
  &Wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    &List{
      text-decoration: none;
      &Item{
        margin-bottom: 1rem;
        color: #ffffff;
        &:last-child{
          margin-bottom: 0;
        }
        &Link{
          color: #ffffff;
          text-decoration: none;
          transition: opacity .5s;
          &:hover{
            opacity: .7;
          }
        }
      }
    }
  }
  &email{
    font-size: .8rem;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1.3px;
  }
}