.training{
  position: relative;
  padding: 100px 0;
  background-image: url("./bgtrain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 10, 10, 0.7);
    z-index: -1;
  }
  &Title{
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
  }
  &Btn{
    display: flex;
    justify-content: center;
  }

}